@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scroll {
        overflow: auto;
    }
}

@layer base {
    a {
        @apply hover:text-primary-500
    }

    a,button,input[type="submit"] {
        @apply transition-colors duration-300 ease-out
    }

}

@layer components {
    .bg-black .social-icon{
        @apply text-current hover:text-primary-500
    }

    a.selected{
        @apply pointer-events-none
    }

    footer a.selected::before{
        content: ">";
        @apply text-primary-500 pr-2 font-black;
    }

    header a.selected {
        @apply border-primary-500 text-primary-500
    }

    header a.selected::after{
        content: "<";
        @apply text-primary-500 pl-6 font-black;
    }

    .outer-layout > * {
        @apply max-w-full w-full px-6 
    }

    .primary-btn {
        @apply cursor-pointer font-medium px-4 py-2 my-2 bg-secondary-800 text-secondary-50 hover:bg-primary-500 hover:text-secondary-50
    }

    .secondary-btn {
        @apply cursor-pointer block font-bold px-4 py-2 my-2 bg-inherit text-secondary-600 border-2 rounded border-secondary-300 hover:border-primary-500 hover:text-primary-500
    }

    .tertiary-btn {
        @apply cursor-pointer block font-bold text-sm my-2 bg-inherit text-secondary-800 w-fit hover:text-primary-500
    }

    @screen tablet {
        .outer-layout > * {
            @apply max-w-2xl  mx-auto
        }
    
        header a.selected{
            @apply border-none underline underline-offset-4 decoration-primary-500 decoration-2 after:content-none;
        }
    }

    @screen laptop {
        .outer-layout > * {
            @apply max-w-5xl
        }
    }

    @screen desktop {
        .outer-layout > * {
            @apply max-w-7xl
        }
    }
}